* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: rgb(99, 219, 209);
  background: linear-gradient(
    174deg,
    rgba(99, 219, 209, 1) 0%,
    rgba(75, 134, 228, 1) 100%
  );
  min-height: 100vh;
}
.to-do-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.to-do {
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 30%;
  padding: 30px;
  margin: 0 auto;
}

.btn-purple {
  background-color: #8e48e6;
  color: white;
  transition: 0.4s linear;
}
.btn-purple i {
  font-size: 20px;
}
.btn-purple:hover {
  background-color: #9863d9;
}
#add-todo-inp {
  margin-right: 5px;
}
.to-do-list li {
  background-color: #f2f2f2;
  border-radius: 5px;
  color: black;
  padding: 12px 15px;
  overflow-x: auto;
  text-wrap: wrap;
  white-space: normal;
}
