$main-font: "K2D", sans-serif;
$secondary-font: 'Poppins';
$link-color: black;
$link-hover-color: rgb(68, 68, 68);
$text-color: #888888;
$title-color: #292b2c;
$card-title-color: #313131;
$main-color: #ff7a58;
$main-color-hover: #b0553e;